<p id="notice"><%= notice %></p>

<p>
  <strong>Stat:</strong>
  <%= @country.stat %>
</p>

<p>
  <strong>Rails:</strong>
  <%= @country.rails %>
</p>

<p>
  <strong>G:</strong>
  <%= @country.g %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @country.scaffold %>
</p>

<p>
  <strong>Country stat:</strong>
  <%= @country.country_stat %>
</p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Mobilephones:</strong>
  <%= @country.mobilephones %>
</p>

<p>
  <strong>Mortalityunder5:</strong>
  <%= @country.mortalityunder5 %>
</p>

<p>
  <strong>Healthexpenditurepercapita:</strong>
  <%= @country.healthexpenditurepercapita %>
</p>

<p>
  <strong>Healthexpenditureppercentgdp:</strong>
  <%= @country.healthexpenditureppercentGDP %>
</p>

<p>
  <strong>Population:</strong>
  <%= @country.population %>
</p>

<p>
  <strong>Populationurban:</strong>
  <%= @country.populationurban %>
</p>

<p>
  <strong>Birthrate:</strong>
  <%= @country.birthrate %>
</p>

<p>
  <strong>Lifeexpectancy:</strong>
  <%= @country.lifeexpectancy %>
</p>

<p>
  <strong>Gdp:</strong>
  <%= @country.GDP %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
